@model MVC5ONLINETICARIOTAMASYON.Models.Sınıflar.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Departman</h2>

<br />
<form class="form-group" method="post">
    @Html.Label("Departman Adı")
    @Html.TextBoxFor(x => x.DepartmanAdı, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Kaydet</button>





</form>